/*CSS STYLE */
@charset "UTF-8"
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);

body
{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'lato','helvetica Neue',Verdana,Geneva,sans-serif;
}

header
{
	background: url(../img/intro-bg.jpg) no-repeat center;
	position: relative;
	-webkit-background-size:cover;
	moz-background-size:cover;
	o-background-size:cover;
	background-size:cover;
}
header strong
{
	font-weight: 900;
	display: block;
	color: #646464;
	font-family: 'lato','helvetica Neue',Verdana,Geneva,sans-serif;
	font-size: 120px;
	padding-top: 65px;
}
header span
{
	color:#eb4450;
	font-weight: 900;
	font-size: 86px;
	position: relative;
	top: -50px;
	margin-right: 5px;
}
header p
{
	color: #646464;
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 1em;
	margin-top: 0.3em;
	padding-left: 40px;
}

}
header p,header p.darker,h2
{
  font-family: 'lato','helvetica Neue',sans-serif;
  font-weight: 900;
}
h2
{
	padding-left: 5px;
	font-size: 42px;
	text-align: center;
	/*text-transform: uppercase;*/
	color: #646464;
}
h2:after
{
content: ' '; 
display: block; 
width: 150px; 
margin: 0 auto; 
padding-top: 20px; 
border-bottom: 3px solid rgba(0,0,0, 0.3); 
}
.darker
{
	padding-left: 380px;
}
.mark
{
	font-weight: 900;
	display: block;
	color: #646464;
	font-family: 'lato','helvetica Neue',Verdana,Geneva,sans-serif;
	font-size: 35px;
	padding-left: 250px;
}
main 
{
	padding:3.2em 0;
	background-color: #eb4450;

}
main h1
{
	text-align: center;
	line-height: 1.35;
	color: #fff;
	font-size: 40px;
	font-weight: 400;
}
#design h3
{
	font-size: 40px;
	font-weight: normal;
}
#design h3:after
{
	content: '';
	display: block;
	width: 60px;
	padding-top: 20px;
	border-bottom: 3px solid rgba(0,0,0,0.3);
}
#design ul
{
	list-style: none;
	padding-left: 0;
	width: 100%;
}
#design ul.skills
{
	padding-top: 0px;
	margin-top: 0px;
}
#design ul.skills li
{
	line-height: 50px;
}
#design ul.skills li strong
{
	font-size: 22px;
	font-weight: 300;
}
#design ul.skills li span
{
	display: block;
	line-height: 14px;
	color: #a1a1a1;
	font-size: 16px;
	font-weight: 900;
}
#design h4
{
	font-size: 36px;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 50px;
	padding-bottom: 20px;
	color: #494949;
	font-weight: normal;
}
/*#design h2
{
	padding-top: 20px;
}*/
#design ul.help 
{
	padding-top: 30px;
}
#design ul.help li
{
	padding-left: 40px;
	margin-bottom: 20px;
	line-height: 1.5em;
	color:#737373;
	font-size: 18px;
	/*padding-top: 40px;*/

}
#design ul.help li:before
{
	/*content: '\f00c';*/
	content: '\f00c';
	color: #838383;
	font-family: FontAwesome;
	display: inline-block;
	width: 40px;
	margin-left: -40px;

}
#design ul.help li strong
{

}
#design p
{
	color: #737373;
	font-size: 18px;
	padding-top: 10px;
	padding-left: 40px;

}
#design a
{

}
#design a.btn
{
	float:right;
	display: inline-block;
	border-radius: 4px;
	background-color: #f5f5f5;
	/*padding: 1em 1em 0.6 1em;*/
	/*padding-bottom: 10px;*/
	color: #646464;
	top: 20px;
	text-decoration: none;
	-moz-transition: all 0.2s ease;
	 -webkit-transition: all 0.2s ease; 
	 -o-transition: all 0.2s ease; 
	 transition: all 0.2s ease; 
	}
}
#design a.btn:hover
{
	text-decoration: none;
}
#design a.btn.github:hover
{
	background-color: #555;
	color: #fff;
}
#design a.btn i
{
	font-size: 42px;
	float: left;
	display: block;
	padding-top: 8px;
	padding-left: 5px;
}
#design a.btn span
{
	font-size: 12px;
	margin-left: 50px;
	text-align: left;
	padding-top: 10px;
	display: block;
	text-transform: uppercase;
	line-height: 12px;
	text-decoration: none;
}
#design a.btn strong
{
font-size: 28px; 
margin-left: 50px; 
display: block; 
line-height: 36px; 
text-decoration: none;
/*padding-top: 20px;*/
}
#design div.curly
{
	line-height: 100%
	font-family'lato',sans-serif;
	color: #737373;
	font-weight: 100;
	font-size: 200px;
	vertical-align: middle !important;
	padding-top: 90px;
}
#plus
{
	background: #2980b9;
	width: 100%;
}
#plus h2
{
	color:#fff;
	padding-left: 80px;
}
#plus ul
{
	padding-left: 200px;
	list-style:none;
}
#plus ul li
{
	padding-left: 40px;
	margin-bottom: 22px;
	line-height: 1.5em;
	color: #e9eff4;
	font-size: 20px;
}
#plus ul li:before
{
	content: '\f00c';
	color: #e9eff4;
	font-family: FontAwesome;
	display: inline-block;
	width: 40px;
	margin-left: -40px;
}